{% extends "core/base.html" %}
{% load bootstrap %}
{% block title %}Altere sua senha{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h3 class="text-secondary border-bottom my-3 pb-3">
            <i class="fa-solid fa-lock text-info mr-1"></i> Redefinir sua senha
        </h3>
        <div class="col-md-6">
            <form action="." method="POST">
                {% for field in form %}
                    {{ field|bootstrap }}
                    {% if field.errors %}
                     <label class="text-danger">{{ field.errors }}</label>
                    {% endif %}               
                {% endfor %}
                <button class="btn btn-info" type="submit">Alterar</button>
                <button class="btn btn-danger" type="button" onclick="location.href='{% url 'contas:cliente_detail' pk=request.user.id %}'">Cancelar</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}