{% extends "core/base.html" %}
{% load bootstrap %}
{% block title %}Redefinir Senha{% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-secondary border-bottom my-3 pb-3">
        <i class="fa-solid fa-lock text-info mr-1"></i> Redefinir sua senha
    </h3>
    <div class="col-md-6">
        {% if validlink %}
            <form action="." method="POST">
                {{ form|bootstrap }}
                {% csrf_token %}
                <button class="btn btn-info" type="submit">Redefinir Senha</button>
            </form>
        {% else %}
            <p class="text-secondary">O link de redefinição de senha era inválida, possivelmente porque ele tem
                 já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
        {% endif %}
    </div>
</div>
{% endblock %}