{% extends "core/base.html" %}
{% load bootstrap %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}
<div class="container">
	<h3 class="text-secondary border-bottom my-3 pb-3">
		<i class="fa-solid fa-lock text-info mr-1"></i> Redefinir sua senha
	</h3>
	<p>Enviamos por email as instruções para a redefinção de senha.</p>
	<p>Se você não receber o e-mail, por favor, certifique-se de que digitou corretamente o email que foi registrado.</p>
	<button class="btn btn-info" type="button" onclick="location.href='{% url 'core:home' %}'">
		<i class="fa-solid fa-arrow-left mr-2"></i>Voltar
	</button>
</div>
{% endblock %}