{% extends "core/base.html" %}
{% load bootstrap %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-secondary border-bottom my-3 pb-3">
       <i class="fa-solid fa-lock text-info mr-1"></i> Esqueceu a sua Senha ?</h3>
    
    <div class="col-md-6">
        <form action="." method="POST">
            <legend class="text-secondary">Digite seu endereço de e-mail para obter uma nova senha.</legend>
            <div class="input-group border-bottom mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0 bg-white">
                        <i class="fa-solid fa-envelope text-info"></i>
                    </span>
                </div>
                <input class="form-control border-0" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email">
            </div>
            <p>
                <button class="btn btn-info mr-3" type="submit">Alterar Senha</button>
                <button class="btn btn-outline-info" onclick="location.href='{% url 'core:home' %}'">Cancelar</button>
            </p>
            {% csrf_token %}
        </form>
    </div>    
</div>    
{% endblock %}