{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container py-4">
	<form method="POST" action=".">
		<legend class="border-bottom text-secondary font-weight-bold pb-3">
			<i class="bi bi-card-checklist text-info"></i> Atualizar Espécie
		</legend>
		{% csrf_token %}
		<div class="col-md-6 my-4">
			<div>
				<label class="font-weight-bold">
					<i class="fa-solid fa-paw"></i> Nome Espécie: 
				</label> {{form.especie|bootstrap}}
			</div>
				
			<button class="btn btn-primary mx-3 my-3" type="submit">
				<i class="fa-solid fa-plus"></i> Atualizar
			</button>
			<button class="btn btn-danger" type="button" onclick="location.href='{% url 'fichas:especie_list' %}'">
      			<i class="fa-solid fa-xmark"></i> Cancelar
   			</button>
		</div>
		
				
	</form>
</section>
{% endblock %}