{% extends 'core/base.html' %}
{% block title %}
	{{block.super}} - Banho e Tosa
{% endblock title %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="container py-3">
	<section class="mb-3  border-bottom pb-2">
		<div class="row px-4">
			<div class="w-75"> 
				<h3 class="row text-secondary font-weight-bold title-2">
					<img style="max-width:40px;" class="mx-3" src="{% static 'img/icon_shower_info.png' %}">
					<div class="d-flex align-items-center"> Banho e Tosa</div>
				</h3>
			</div>
			<div class="w-25 d-flex justify-content-end align-items-center">
				<div class="">
					<a class="btn btn-info" href="{% url 'services:add_ficha' %}">
						<i class="fa-solid fa-plus mr-2"></i>Ficha
					</a>
				</div>
			</div>
		</div>	
	</section><!-- /SECTION TITLE PAG -->
	<section class="mb-3">
		<div class="row">
			<!-- Imagem -->
			<div class="col-md-4 block-none">
				<img src="{% static 'img/banho-e-tosa-teste.png' %}">
			</div>
			<!-- Block Atendimento  -->	
			{% include 'ficha/list_ficha/atendimento.html' %}
		</div>
	</section><!-- /SECTION ATENDIMENTO -->

	<!-- Fichas de Banho e Tosa - FINAL DA PÁGINA -->
	<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
		<li class="nav-item" disabled>
	   		 <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Aguardando Aprovação</a>
	   </li>
	   <li class="nav-item">
	    	<a class="nav-link " id="aprovados-tab" data-toggle="tab" href="#aprovados" role="tab" aria-controls="aprovados" aria-selected="True">Aprovados</a>
	  </li>		  
	   <li class="nav-item">
	    	<a class="nav-link " id="alterados-tab" data-toggle="tab" href="#alterados" role="tab" aria-controls="alterados" aria-selected="True">Alterados</a>
	  </li>
	   <li class="nav-item">
	    	<a class="nav-link " id="cancelados-tab" data-toggle="tab" href="#cancelados" role="tab" aria-controls="cancelados" aria-selected="True">Cancelados</a>
	  </li>	

	   <li class="nav-item">
	    	<a class="nav-link " id="finalizados-tab" data-toggle="tab" href="#finalizados" role="tab" aria-controls="finalizados" aria-selected="True">Finalizados</a>
	  </li>										
	</ul><!-- /NAVIGACION -->
	<div class="tab-content" id="myTabContent">
		<!-- Aguardando Aprovação do Tutor -->	
		<section class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			{% include 'ficha/list_ficha/aguardando.html' %}
		</section>
		<!-- Aprovados pelo Tutor para banho e Tosa -->	
		<section class="tab-pane fade  " id="aprovados" role="tabpanel" aria-labelledby="home-tab">
			{% include 'ficha/list_ficha/aprovado.html' %}
		</section>
		<!-- Alterados  -->	
		<section class="tab-pane fade  " id="alterados" role="tabpanel" aria-labelledby="alterados-tab">
			{% include 'ficha/list_ficha/alterado.html' %}
		</section>	
		<!-- Cancelados -->
		<section class="tab-pane fade  " id="cancelados" role="tabpanel" aria-labelledby="cancelados-tab">
			{% include 'ficha/list_ficha/cancelado.html' %}
		</section>	
		<!-- Finalizados  -->
		<section class="tab-pane fade  " id="finalizados" role="tabpanel" aria-labelledby="finalizados-tab">
			{% include 'ficha/list_ficha/finalizado.html' %}
		</section>
	</div>
</div><!-- /DIV CONTAINER -->
{% endblock content %}