{% extends 'core/base.html' %}
{% block title %}
	{{block.super}} - Nova Ficha Banho/Tosa
{% endblock title %}
{% load static %}
{% load bootstrap %}
{% block content %}
<section class="container mt-3">
	<form class="" method="POST" action="."> 
		<legend class="border-bottom pb-2 text-secondary mb-3">
			<i class="fa-solid fa-file mr-2 text-info"></i> Ficha de Banho e Tosa
		</legend>
		{% csrf_token %}
		<div class="container">
			<!-- Msg - Pet não foi pesado -->
			{% if msg %}
				<p class="{{class}} text-center">
					<i class="fa-solid fa-triangle-exclamation mr-2"></i>{{msg}}
 				</p>
			{% endif %}
			{% if pet.pet_peso.last == None %}
				<a href="{% url 'fichas:peso:peso_add_for_banho' pk=pet.id %}">
					<p class="alert alert-info text-center">
						<i class="fa-solid fa-triangle-exclamation mr-2"></i>
						O Pet ainda não foi pesado, clique aqui para adicionar o peso.
					</p>
				</a>
			{% endif %}
			<!-- 01 Block Dados Do Animal -->
			{% include 'ficha/cadastro_ficha/dados_pet.html' %}
			<!-- 02 Block Dados do Tutor -->
			{% include 'ficha/cadastro_ficha/dados_tutor.html' %}
			<!-- 03 Block Anamnese -->
			{% include 'ficha/cadastro_ficha/dados_anamnese.html' %}
			<!-- 04 Block Banho e Tosa -->
			{% include 'ficha/cadastro_ficha/form_banho.html' %}
			<!-- BOTÕES -->
			<button class="btn btn-info mr-3" type="submit">Criar Ficha</button>
			<button class="btn btn-outline-info" type="button" onclick="location.href='{% url 'services:list_ficha' %}'">Cancelar</button>
		</div><!-- /DIV CONTAINER -->	
	</form><!-- /Form -->
</section><!-- /SECTION CONTAINER -->
{% endblock %}