{% extends 'core/base.html' %}
{% block title %}
{{block.super}} - Inspeção do Pet
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<section class="container">
  <h2 class="border-bottom pb-2 mb-5"><i class="bi bi-heart-pulse-fill"></i> Inspeção física e estetíca</h2>
  <!-- FORM INSPEÇÃO FÍSICA E ESTETÍCA -->
  
  <form method="POST" action=".">
    {% csrf_token %}
    
             
          <label class="">Nome do Pet:</label>
          <label>{{fom.pet}}</label>
       
    <div class="row">
       <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Doenças:
          </h5>
        </div>
          <div class="card-body">
            {{ form.doenca|as_crispy_field }}
          </div>
        </div>
      </div>  

      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção das Unhas:
          </h5>
        </div>
          <div class="card-body">
            {{ form.unhas|as_crispy_field }}
          </div>
        </div>
      </div>  

      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção dos Olhos:
          </h5>
        </div>
          <div class="card-body">
            {{ form.olhos|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção Bucal:
          </h5>
        </div>
          <div class="card-body">
            {{ form.boca|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">  
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção das Patas:
          </h5>
        </div>
          <div class="card-body">
            {{ form.patas|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção Auricular:
          </h5>
        </div>
          <div class="card-body">
            {{ form.orelhas|as_crispy_field }}
          </div>
        </div><!-- /Auricular -->
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
          <h5 class="text-white">
            <i class="bi bi-journal-text"></i> Inspeção do Pelo:
          </h5>
        </div>
          <div class="card-body">
            {{ form.pelos|as_crispy_field }}
            {{ form.pelosEstado|as_crispy_field }}
            {{ form.pelosCondicao|as_crispy_field }}
          </div>  
        </div>
      </div>
      <div class="col-lg-4 mb-3">  
        <div class="card">
          <div class="card-header bg-primary">
            <h5 class="text-white">
              <i class="bi bi-journal-text"></i> Inspeção da Pele:
            </h5>
          </div>
          <div class="card-body">
            {{ form.ectoparasitas|as_crispy_field }}
            {{ form.peleInfeccionada|as_crispy_field }}
            {{ form.peleOutros|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">  
        <div class="card">
          <div class="card-header bg-primary">
            <h5 class="text-white">
              <i class="bi bi-journal-text"></i> Observações:
            </h5>
          </div>
          <div class="card-body">
            {{ form.obs|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>

   
    <button class="btn btn-primary btn-lg" type="submit">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar
    </button>
    <a class="btn btn-primary btn-lg" href="{% url 'pet:list' %}">Voltar</a>

  </form>
</section>
{% endblock content %}