{% extends 'core/base.html' %}

{% block content %}
	<section class="container">
		<div class="d-flex justify-content-end col-sm-6">
			<div class="card">
				<form method="" action=".">
					<legend class="ml-3">Banho e Tosa</legend>
					<div class="col mb-4">
						<h6>Usuário</h6>
						<input type="text" name="username" placeholder="Usuário" />
					</div>
					<div class="col mb-4">
						<h6>Senha</h6>	
						<input type="password" name="password" placeholder="Senha">
					</div>
						
					<button type="submit" class="btn btn-primary ml-3 mb-4">Entrar</button>
							
				</form>
			</div>
		</div>	
	</section>
{% endblock %}