{% extends 'core/base.html' %}
{% load permission_tags %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block title%}
  {{block.super}} - Atualizar
{% endblock title %}

{% block content %}
    {% if tutor or user|can:'view_funcionario' %}
      <section class="container py-4">
        <div class="border-bottom mb-4">
          <h2 class="text-secondary title-2 font-weight-bold">
            <i class="bi bi-journal-text text-info"></i> Atualizar Dados do Pet
          </h2>
        </div>  
        <form name="FormAddPet" id="FormAddPet" method="POST" action="." enctype="multipart/form-data" data-funcoes-url="{% url 'pet:ajax_load_funcoes' %}">
          {% csrf_token %}
            {{form_pet.management_form}}
          <div class="col">
            {% if obj.photo.url != None%}
              <div class="w-100 d-flex justify-content-center mb-4">
                <span class="circle-pet-update">         
                  <img src="{{obj.photo.url}}" alt="Foto de perfil do pet">
                </span>
              </div>
            {% else %}
                  {% if obj.sexo  != 'Macho' %}
                    <div class="w-100 d-flex justify-content-center mb-4">
                      <span class="circle-pet-update">         
                        <img src="{% static 'img/Avatar_Dog-512.png' %}" alt="Foto de perfil do pet">
                      </span>
                    </div>
                    
                  {% else %}
                    <div class="w-100 d-flex justify-content-center mb-4">
                      <span class="circle-pet-update">         
                        <img src="{% static 'img/dog-avatar.png' %}" alt="Foto de perfil do pet">
                      </span>
                    </div> 
                    
                  {% endif%}
            {% endif %}
            <div class='input-wrapper row'>        
              <span class="text-secondary w-100 text-center mb-3" id='file-name'></span>
              <div class="d-flex justify-content-center w-100">
                <label class="btn btn-outline-info" for='input-file'>
                  Alterar Foto
                </label>
              </div>
              <input id='input-file' type='file' value='' />
            </div>
            
          </div>
          <div class="row">          
              <div class="col-md-4">
                {{form_pet.nome|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.aniversario|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.pelagem|bootstrap}}
              </div>

               <div class="col-md-4">
                {{form_pet.type_pelo|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.coloracao|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.temperamento|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.especie|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.raca|bootstrap}}
              </div>
               <div class="col-md-4">
                {{form_pet.sexo|bootstrap}}
              </div>
               <div class="col-md-4 my-3">
                {{form_pet.castracao|bootstrap}}
              </div>
          </div>
              
           <button class="btn btn-info mr-3" type="submit">Salvar Alterações</button>
           <a class="btn btn-outline-info" href="{% url 'pet:pet_detail' pk=obj.id %}">Cancelar</a>
        </form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
      </section>
    {% else %}
      {% include 'includes/permission_msg.html' %}
    {% endif %}  
{% endblock content %}