{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block title%}
{{block.super}} - Atualizar
{% endblock title %}

{% block content %}
<section class="container">
  <div class="border-bottom mb-4">
    <h2 class="text-info font-weight-bold"><i class="bi bi-journal-text"></i> Atualizar Dados do Pet</h2>
  </div>  
  <form method="POST" action=".">
  	{% csrf_token %}
    
    <div class="form-row">
      <div class="col col-lg-5 mb-3">
        	{{ form.nome|bootstrap }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.apelido|bootstrap }}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.aniversario|bootstrap }}
      </div>
    
      <div class="col-md-3 mb-3">
        {{ form.idade|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
        {{ form.peso|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
        {{ form.especie|bootstrap }}
      </div>
        
      <div class="col-md-3 mb-3">
        {{ form.racaCachorro|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
       {{ form.temperamento|bootstrap }}
      </div>
   
      <div class="col-md-3 mb-3">
        {{ form.pelagem|bootstrap }}
      </div>
    
      <div class="col-md-3 mb-3">
        {{ form.coloracao|bootstrap }}
      </div>
      
      <div class="col-md-3 mb-3">
        {{ form.tamanho|bootstrap }}  
      </div>
      
      <div class="col-md-3 mb-3">
        {{ form.caracteristicas|bootstrap }}  
      </div>
    </div>
   	
     <button class="btn btn-primary" type="submit">Salvar Alterações</button>
     <a class="btn btn-danger" href="{% url 'pet:list' %}">Cancelar</a>
  </form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
</section>  

{% endblock content %}