{% extends 'core/base.html' %}

{% block title%} 
  {{block.super}} - Cadastrar novo Pet
{% endblock title %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}
<section class="container">

  <h2 class="border-bottom pb-2 text-info font-weight-bold"><i class="fa-solid fa-paw"></i> CADASTRAR NOVO PET</h2>
  <form method="POST" action=".">
  	{% csrf_token %}
    <div class="form-row">
      <div class="col-lg-5 mb-3">
        	{{ form.nome|bootstrap }}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.apelido|bootstrap }}
      </div>
      <div class="col-md-3 mb-3 date">
        {{ form.aniversario|bootstrap }}
      </div>
    
      <div class="col-md-3 mb-3">
        {{ form.idade|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
        {{ form.peso|bootstrap }}
      </div>
      
<!-- SELECT TIPO DE ANIMAIS/RAÇAS -->
      <div id="select" name="select" class="col-md-3 mb-3">
         {{form.especie|bootstrap}}
      </div>
      
      <div id="1" class="col-md-3 mb-3">
        {{ form.raca|bootstrap }}
      </div>
   
<!--/SELECT TIPO DE ANIMAIS/RAÇAS  -->
      <div class="col-md-3 mb-3">
       {{ form.temperamento|bootstrap }}
      </div>
   
      <div class="col-md-3 mb-3">
        {{ form.pelagem|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
        {{ form.type_pelo|bootstrap }}
      </div>

      <div class="col-md-3 mb-3">
        {{ form.coloracao|bootstrap }}
      </div>
      
      <div class="col-md-3 mb-3">
        {{ form.tamanho|bootstrap }}  
      </div>
      
      <div class="col-md-3 mb-3">
        {{ form.caracteristicas|bootstrap }}  
      </div>
    </div>
   	
    <button class="btn btn-primary" type="submit">
      <i class="fa-solid fa-paw"></i> Cadastrar
    </button>
     <button class="btn btn-danger" type="button" onclick="location.href='{% url 'pet:pet_list' %}'">
      <i class="fa-solid fa-xmark"></i> Cancelar
    </button>
  </form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
</section>  

{% endblock content %}
