{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block title%}
{{block.super}} - Atualizar
{% endblock title %}

{% block content %}
<section class="container py-4">
  <div class="border-bottom mb-4">
    <h2 class="text-secondary title-2 font-weight-bold">
      <i class="bi bi-journal-text text-info"></i> Atualizar Dados do Pet
    </h2>
  </div>  
  <form name="FormUpdatePet" id="FormUpdatePet" method="POST" action="." enctype="multipart/form-data" data-funcoes-url="{% url 'pet:ajax_update_pet' %}">
    {% csrf_token %}
    <div class="row">  
      {{form_pet.management_form}}
        <div class="col-md-4">
          {{form_pet.photo|bootstrap}}
        </div>
         <div class="d-none">
          {{form_pet.tutor|bootstrap}}
        </div>
        <div class="col-md-4">
          {{form_pet.nome|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.aniversario|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.pelagem|bootstrap}}
        </div>

         <div class="col-md-4">
          {{form_pet.type_pelo|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.coloracao|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.temperamento|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.especie|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.raca|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.sexo|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.castracao|bootstrap}}
        </div>
         <div class="col-md-4">
          {{form_pet.status|bootstrap}}
        </div>
    </div>
        
     <button class="btn btn-success" type="submit">Salvar Alterações</button>
     <a class="btn btn-danger" href="{% url 'pet:pet_list' %}">Cancelar</a>
  </form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
</section>  

{% endblock content %}