{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}
{% load permission_tags %}
{% block title%}
	{{block.super}} - Ficha técnica
{% endblock title %}
{% block content %}

<section class="container py-4">
	<div class="mb-3">
		{% for item in cliente%}
			{% if request.user.id == item.id %}
				<a href="{% url 'contas:cliente_detail' pk=item.id %}" class="mr-3 text-info font-weight-bold">
					<i class="fa-solid fa-user"></i> Ir para tutor 
				</a>
			{% else %}
				{% if user|has_role:'colaborador' %}
					<label class="font-weight-bold text-secondary mr-3">					
						<i class="fa-solid fa-user text-info"></i> Ir para tutor(a) 
						<a href="{% url 'contas:cliente_detail' pk=item.id %}" class="text-info font-weight-normal">{{item.first_name}}</a>
					</label>
				{% endif %}
			{% endif %}
			
		{% endfor %}
	</div>

	{% include 'pet/includes/pet_detail.html' %}
	{% include 'pet/includes/pet_obs.html' %}

<!-- NAV - FINAL DA PÁGINA -->
<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
	<li class="nav-item" disabled>
   		 <a class="nav-link disabled" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Histórico</a>
   </li>
   <li class="nav-item">
    	<a class="nav-link active" id="peso-tab" data-toggle="tab" href="#peso" role="tab" aria-controls="peso" aria-selected="True">Peso</a>
  </li>										
  <li class="nav-item">
    	<a class="nav-link" id="consultas-tab" data-toggle="tab" href="#consultas" role="tab" aria-controls="consultas" aria-selected="false">Consultas</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link" id="vacina-tab" data-toggle="tab" href="#vacinas" role="tab" aria-controls="vacinas" aria-selected="false">Vacinas</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link disabled" id="prescricoes-tab" data-toggle="tab" href="#prescricoes" role="tab" aria-controls="prescricoes" aria-selected="false">Prescrições</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link disabled" id="solicitacoes-tab" data-toggle="tab" href="#solicitacoes" role="tab" aria-controls="solicitacoes" aria-selected="false">Solicitações</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link disabled" id="retornos-tab" data-toggle="tab" href="#retornos" role="tab" aria-controls="retornos" aria-selected="false">Retornos</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link disabled" id="medicamentos-tab" data-toggle="tab" href="#medicamentos" role="tab" aria-controls="medicamentos" aria-selected="false">Medicamentos</a>
  </li>
  <li class="nav-item">
    	<a class="nav-link disabled" id="anexo-tab" data-toggle="tab" href="#anexo" role="tab" aria-controls="anexo" aria-selected="false">Anexos</a>
  </li>		
</ul>
<div class="tab-content" id="myTabContent">
	<!-- Histórico -->	
	<section class="tab-pane fade  " id="home" role="tabpanel" aria-labelledby="home-tab">
		<h4 class="text-secondary">Histórico</h4>
	</section>
	<!-- Peso -->
	<section class="tab-pane fade show active" id="peso" role="tabpanel" aria-labelledby="peso-tab">
		{% include 'pet/includes/pet_peso.html' %}		
	</section>	
    <!-- Consultas  -->
    <section class="tab-pane fade" id="consultas" role="tabpanel" aria-labelledby="consultas-tab">
    	{% include 'pet/includes/pet_consultas.html' %}
    </section>
	<!-- Vacinas -->
	<section class="tab-pane fade " id="vacinas" role="tabpanel" aria-labelledby="vacinas-tab">
		{% include 'pet/includes/pet_vacinas.html' %}
	</section>
	<!-- Prescrições -->
	<section class="tab-pane fade " id="prescricoes" role="tabpanel" aria-labelledby="prescricoes-tab">
		<h4 class="text-secondary">Prescrições</h4>
	</section>
	<!-- Solicitações -->	
	<section class="tab-pane fade " id="solicitacoes" role="tabpanel" aria-labelledby="solicitacoes-tab">
		<h4 class="text-secondary">Solicitações</h4>
	</section>
	<!-- Retornos -->	
	<section class="tab-pane fade " id="retornos" role="tabpanel" aria-labelledby="retornos-tab">
		<h4 class="text-secondary">Retornos</h4>
	</section>
	<!-- Medicamentos -->			
	<section class="tab-pane fade " id="medicamentos" role="tabpanel" aria-labelledby="medicamentos-tab">
		<h4 class="text-secondary">Medicamentos</h4>
	</section>
    <!-- Anexo -->
    <section class="tab-pane fade " id="anexo" role="tabpanel" aria-labelledby="anexo-tab">
		<h4 class="text-secondary">Anexos</h4>
	</section>	
</div><!-- /NAV - FINAL DA PÁGINA -->
</section>
{% endblock %}