{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block title%}
{{block.super}} - Atualizar
{% endblock title %}

{% block content %}
<section class="container py-4">
  <div class="border-bottom mb-4">
    <h2 class="text-secondary font-weight-bold">
      <i class="bi bi-journal-text text-info"></i> Atualizar Dados do Pet
    </h2>
  </div>  
  <form method="POST" action=".">
  	{% csrf_token %}
    <div class="row">  
      {{form_pet.management_form}}
      {% for item in form_pet %}
        <div class="col-md-4">
          {{item|bootstrap}}
        </div>
      {% endfor %}
    </div>
      	
     <button class="btn btn-success" type="submit">Salvar Alterações</button>
     <a class="btn btn-danger" href="{% url 'pet:pet_list' %}">Cancelar</a>
  </form><!-- /FORM IDENTIFICAÇÃO DOS PETS -->
</section>  

{% endblock content %}