{% extends 'core/base.html' %}
{% block title%}
{{block.super}} - Apagar Funcionário
{% endblock title %}
{% block content %}
<p class="text-monospace">Tem certeza que deseja apagar o registro do '<span class="text-info">{{ object.nome }}</span>'?</p>
	<form method="POST">
		{% csrf_token %}
		<button class="btn btn-danger btn-md" type="submit">Sim, tenho certeza!</button>
		<button class="btn btn-primary btn-md" type="reset" onclick="location.href='{% url 'contas:funcionario_list' %}'">Não, desejo voltar!</button>
	</form>
</body>
{% endblock %}