{% extends 'core/base.html'%}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}
<section class="container py-4">
	<h3 class="border-bottom pb-2 text-secondary">
		<i class="fa-solid fa-user text-info"></i> Cadastrar novo funcionário
	</h3>
	
	<div class="w-100">
		<form class="row" method="POST" action=".">
			 {% csrf_token %}
			 {% for i in user_form %}
			 	<div class="col-md-4">
			 		<p>{{i|bootstrap}}</p>
			 	</div>
			 {% endfor%}
			 {{form.management_form}}
			{% for iten in form %}
				<div class="col-md-4">
			 		<p>{{iten|bootstrap}}</p>
			 	</div>
			{% endfor %}
			<div class="col">
				<button class="btn btn-info" type="submit">Criar</button>
				<button class="btn btn-danger" type="button" onclick="location.href='{% url 'contas:funcionario_list'%}'">Cancelar</button>
			</div>
		</form>
	</div>	
</section>
{% endblock %}