{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container">
	<form method="POST" action=".">
		<legend class="border-bottom text-info font-weight-bold pb-3">
			<i class="bi bi-card-checklist"></i> Adicionar Nova Especie
		</legend>
		{% csrf_token %}
		{% for iten in especie %}
		<div class="col-md-6 my-4">
			<div class="">
				<label class="font-weight-bold">
					<i class="fa-solid fa-paw"></i> Nova Espécie: 
				</label> {{iten}}
			</div>
			
			<button class="btn btn-primary mx-3 my-3" type="submit">
				<i class="fa-solid fa-plus"></i>Adicionar
			</button>
			<button class="btn btn-danger" type="button" onclick="location.href='{% url 'sys:list_Especie' %}'">
      			<i class="fa-solid fa-xmark"></i> Cancelar
    		</button>
		</div>
		{% endfor %}
				
	</form>
</section>
{% endblock %}