{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container">
	<form method="POST" action=".">
		<legend class="border-bottom pb-2 text-info font-weight-bold">
			<i class="bi bi-card-checklist"></i> Adicionar Nova Raça
		</legend>
		{% csrf_token %}
		<div class="col-sm-4">
			<label><i class="fa-solid fa-paw"></i><span class="font-weight-bold"> Espécie </span></label>{{raca.especie|bootstrap}}
			<label><i class="fa-solid fa-shield-dog"></i><span class="font-weight-bold"> Raça </span></label> {{raca.raca}}
			
			<div class="d-flex justify-content-end mx-3 my-3">
				<button class="btn btn-primary mr-3" type="submit">
					<i class="fa-solid fa-plus"></i> Adicionar
				</button>
				
				<button class="btn btn-danger" type="button" onclick="location.href='{% url 'sys:raca_list' %}'">
	  				<i class="fa-solid fa-xmark"></i> Cancelar
				</button>
			</div>	
		</div>
		
			
	</form>
</section>
{% endblock %}