*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none !important;

}
span.required:after{
	content: "*";
	color: red;
}
#wrap-header{
 width: 100%;
 min-height: 70px;
 background: #1fb9b1;
 color: white;
 margin-bottom: 15px;
 
}
#wrap-header img{
	display: block;
	max-width: 175px;
	margin-top: 15px;
}
.wrap-nav{
	
}
.wrap-nav li a{
	color: white;
}
#wrap-main{
	width: 90%;
	min-height: 500px;
	margin: 0 auto;
}
	#wrap-list-pet{
		margin-top: 15px;
	}
#racas{
	
}
#wrap-footer{
	width: 100%;
	margin-top: 15px;
	min-height: 80px;
	background: black;
	color: white;
}


