*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none !important;

}
span.required:after{
	content: "*";
	color: red;
}
.max-100{
	max-width: 100% !important;
}
/*
body{
	background: url('../img/bg.png') transparent;

}*/
.help-block {
	color: red !important;
}
/********************************************************************
 1.0 - Header
********************************************************************/
#wrap-header{
 max-width: 100%;
 min-height: 100px;
 background-image: url('../img/bg.png');
 background-color:  #1fb9b1;
 background-size: cover;
 color: white;
 
}
#wrap-header img{
	float: left;
	display: block;
	max-width: 175px;
	margin-top: 15px;
}
#logo_responsive{
	display: none;
}
/****************************
 1.1 - Login Seccion
*****************************/

#box_login{
 box-shadow: 1px 1px 15px grey; !important;
 border-radius: 10px !important;
 background-color: white;
 min-height: 500px;
 min-width: 413px;
 max-width: 413px;
 position: relative;
 top: -90px;
 left: 75px;
}

	.welcome{
		color: #6c757d!important;
    text-shadow: 1px 1px 5px whitesmoke;
    font-size: 1.3em;
	}
	#login-section{
		right: 20px;
	}
	#login-section img{
		width: 70px !important;
		height: 70px;
		border: 2px solid greenyellow;
		box-shadow: 1px 1px 15px greenyellow; !important;
    border-radius: 50%;	
    margin-top: 0;
	}
	#login-section label{
		text-shadow: 2px 2px 5px blanchedalmond; !important;
	}
	#form-login div i{
		
	}
	#form-login div input{
		max-width: 90%;
		display: inline-block;
	}
	
/****************************
 1.2 - Nav
*****************************/
#nav_responsive{
	display: none;
}
.wrap-nav{
	width: 90%;
	margin: 0 auto;
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.wrap-nav li a{
	color: white;
}
/****************************
 1.3 - Cadastro
*****************************/
#box_cadastro{
 box-shadow: 1px 1px 15px grey; !important;
 border-radius: 10px !important;
 background-color: white;
 min-height: 500px;
 min-width: 413px;
 max-width: 413px;
 position: relative;
 top: -90px;
 left: 85px;
}
#form_cadastro_wrap{

}
#form_cadastro div input{
	display: inline-block;
	width: 90%;
}
#email_market{
	border: 2px solid greenyellow;
}

/* Customize the label (the container) */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #17a2b8!important;
  border-radius: 3px;
  background-color: #FFF;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #17a2b8!important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********************************************************************
 2.0 - Main
********************************************************************/
main{
	max-width: 100%;
	min-height: 500px;
}
#wrap-main{
	width: 90%;
	margin: 0 auto;
}
/**********************************************************
 2.2 - Pet Detail
 *********************************************************/
.pet-img{
	height: 150px;
	max-width: 150px;
	min-width: 150px;
	border: 3px solid deepskyblue;
	border-radius: 50% !important;
}
.dados-pet{
	box-shadow: 2px 5px 10px #a4a4a4;
	background: white;
	border-radius: 10px;
}
	.dados-pet-header{
		border-radius: 9px 9px 0 0;
	}
/**** 2.2.1 - Peso - Detail Pet ****/
.btn-peso{
	min-height: 70px;
	min-width: 70px;
	border-radius: 50% !important;
}
.box-peso-title{
	border-radius: 9px 9px 0 0;
}
.box-peso{
	border-radius: 10px;
	box-shadow: 2px 5px 10px #a4a4a4; ;
}
.status-color{
	color: green !important;
}
.ok {
  color: green !important;
}

.no {
  color: grey;
}

	#wrap-list-pet{
		margin-top: 15px;
	}

#racas{
	
}
/**********************************************************
 2.3 - User Detail
 *********************************************************/
#user_responsive_block{
	display: none;
}
.photo_cliente{
	width: 100px;
	height: 100px;
	border: 2px solid greenyellow;
	box-shadow: 1px 1px 15px greenyellow; !important;
  border-radius: 50%;
}

/**********************************************************
 2.4 - User Update
 *********************************************************/

#form_update_user{
	max-width: 100%;
}
	#form_update_01 div>label{
		color: #6c757d!important
	}
	#form_update_01 div>div>div>input{
		border: 1px solid #1fb9b1 !important;
	}
	#form_update_02 div>label{
		color: #6c757d!important
	}
	#form_update_02 div>div>div>input{
		border: 1px solid #1fb9b1 !important;
	}


#form_endereco{
	max-width: 100%;
}
#itens_form_endereco label{
	margin-right: 5px;
	color: #6c757d!important
}
#itens_form_endereco div>div>input{
	border: 1px solid #1fb9b1 !important;
  
}
#itens_form_endereco div>div>select{
	border: 1px solid #1fb9b1 !important;
  text-align: center; 
}
#itens_form_endereco div{
	margin-bottom: 10px;
	margin-right: 10px;
}
/********************************************************************
 3.0 - Footer
********************************************************************/
#wrap-footer{
	width: 100%;
	min-height: 50px;
}
/******************************************************************
 4.0 - RESPONSIVE
*******************************************************************/
@media only screen and (max-width:  600px){
	#wrap-header{
    background-size: 650px;
    background-position: 85px 381px;
	}
	#wrap-header img{
		float: none !important;
	}
	#logo_responsive{
		display: block;
	}
	#nav_responsive{
		display: block;
	}
	#user_responsive_block{
		display: block;
	}
	body{
		max-width: 100%;
	}
	#box_login{
		left: 0;
    top: 0;
    border: none !important;
    box-shadow: none;
    min-height: 0;
    min-width: 100% !important;
    max-width: 100% !important;
	}
	#box_cadastro{
		left: 0;
    top: 0;
    border: none !important;
    box-shadow: none;
    min-width: 100% !important;
    max-width: 100% !important;
	}
	.block-none{
		display: none !important;
	}
	#form_update_01{
		width: 100% !important;
	}
	#form_update_02{
		width: 100% !important;
	}
}

@media screen and (max-width: 480px){
/***********************************
 * RESET
************************************/
.block-none{
		display: none !important;
	}
/***********************************
 * HEADER - 1.0
 **********************************/
	#wrap-header{
    background-size: 650px;
    background-position: 85px 381px;
	}
	#wrap-header img{
		float: none !im: qportant;
	}
	#logo_responsive{
		display: block;
	}
	.logo{
		align-content: center;
	}
	#nav_responsive{
		display: block;
	}
	#user_responsive_block{
		display: block;
	}
	/*********************************
	 * MAIN - 2.0
	**********************************/
	#box_login{
		left: 0;
    top: 0;
    border: none !important;
    box-shadow: none;
    min-width: 100% !important;
    max-width: 100% !important;
	}
	#box_cadastro{
		left: 0;
    top: 0;
    border: none !important;
    box-shadow: none;
    min-width: 100% !important;
    max-width: 100% !important;
	}
	#form_update_01{
		width: 100% !important;
	}
	#form_update_02{
		width: 100% !important;
	}
	
}

