*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none !important;

}
span.required:after{
	content: "*";
	color: red;
}
/*
body{
	background: url('../img/bg.png') transparent;

}*/
/********************************************************************
 1.0 - Header
********************************************************************/
#wrap-header{
 max-width: 100%;
 min-height: 70px;
 background-image: url('../img/bg.png');
 background-color:  #1fb9b1;
 background-size: cover;
 color: white;
 
}
#wrap-header img{
	display: block;
	max-width: 175px;
	margin-top: 15px;
}
/****************************
 1.1 - Login Seccion
*****************************/

#login-section{
  width: 45%;
  display: inline-block;
  margin-right: 15px
}
  #container-login{}
  #form-login{
    width: 90%;
    display: block;
  }
    #form-login>div{
      width: 50%;
    }

	.welcome{
		color: #6c757d!important;
    text-shadow: 1px 1px 5px whitesmoke;
    font-size: 1.3em;
	}
	#login-section img{
		width: 70px !important;
		border: 2px solid greenyellow;
		box-shadow: 1px 1px 15px greenyellow; !important;
    border-radius: 50%;	
    margin-top: 0;
	}
	#login-section label{
		text-shadow: 2px 2px 5px blanchedalmond; !important;
	}
/****************************
 1.2 - Nav
*****************************/
.wrap-nav{
	width: 90%;
	margin: 0 auto;
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.wrap-nav li a{
	color: white;
}
/********************************************************************
 2.0 - Main
********************************************************************/
main{
	max-width: 100%;
	min-height: 500px;
}
#wrap-main{
	width: 90%;
	margin: 0 auto;
}
/**********************************************************
 2.2 - Pet Detail
 *********************************************************/
.pet-img{
	height: 150px;
	max-width: 150px;
	border: 3px solid deepskyblue;
	border-radius: 50% !important;
}
.dados-pet{
	box-shadow: 2px 5px 10px #a4a4a4;
	background: white;
	border-radius: 10px;
}
	.dados-pet-header{
		border-radius: 9px 9px 0 0;
	}
/**** 2.2.1 - Peso - Detail Pet ****/
.btn-peso{
	min-height: 70px;
	min-width: 70px;
	border-radius: 50% !important;
}
.box-peso-title{
	border-radius: 9px 9px 0 0;
}
.box-peso{
	border-radius: 10px;
	box-shadow: 2px 5px 10px #a4a4a4; ;
}
.status-color{
	color: green !important;
}
.ok {
  color: green !important;
}

.no {
  color: grey;
}

	#wrap-list-pet{
		margin-top: 15px;
	}

#racas{
	
}
/********************************************************************
 3.0 - Footer
********************************************************************/
#wrap-footer{
	width: 100%;
	min-height: 50px;
}


@media only screen and (max-width: 400px){
	.logo{
		align-content: center;
	}
	.block-none{
		display: none;
	}
}