{% extends 'core/base.html' %}
{% load bootstrap %}
{% block title %}
	Adicionar Peso
{% endblock title %}
{% block content %}
<section class="container mt-4">
	<h3 class="text-secondary border-bottom pb-3 mb-4">
		<i class="fa-solid fa-weight-hanging text-info"></i> 
		<span class="font-weight-bold text-uppercase text-monospace"> Adicionar Peso</span>
	</h3>
	<div class="col-md-4">
		<form action="." method="POST">
			{% csrf_token %}
			{{form.management_form}}
			{% for item in form %}
				<p>{{item.peso|bootstrap}}</p>
				<p>{{item.obs|bootstrap}}</p>

			{% endfor %}
			<button class="btn btn-info mr-3" type="submit">Adicionar</button>
			<button class="btn btn-outline-info" type="button" onclick="location.href='{% url 'services:new_ficha' pk=pet.id %}'">Cancelar</button>
		</form>
	</div>		
</section>
{% endblock %}