<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="É o Bicho - Agropecuária" />
    
    <title>
     {% block title %} É O BICHO {% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %} ">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   
</head>
<body>
    <header id="wrap-header">
      <div class="container">
        <div class="row">
          <div class="col mb-4">
            <a href="{% url 'pet:list' %}"><img class="card-img-top logo" alt="logo" src="{% static 'img/logo.png'%}"></a>
          </div>
          
        </div>
      </div>
      {% include 'includes/navbar.html'%}  
    </header><!-- /HEADER -->
    <main id="wrap-main">
      
      {% block content %} 
      {% endblock content %}


    </main><!-- /MAIN -->
    <footer id="wrap-footer">
        
    </footer><!-- /FOOTER -->


    
   
  
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/styles.js' %}"></script> 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
