{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container">
	<form method="POST" action=".">
		<legend class="border-bottom text-info font-weight-bold pb-3">
			<i class="bi bi-card-checklist"></i> Adicionar Nova Especie
		</legend>
		{% csrf_token %}
		{% for iten in especie %}
		<div class="col-md-6 my-4">
			<label class="font-weight-bold">Nova Espécie: </label> {{iten}}
			<button class="btn btn-primary" type="submit">Adicionar</button>
		</div>
		{% endfor %}
				
	</form>
</section>
{% endblock %}