{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container py-4">
	<div class="row border-bottom">
		<div class="col-md-6">
			<h2 class="text-secondary font-weight-bold">
				<i class="fa-solid fa-shield-dog text-info"></i>
				<span class="text-uppercase"> Tipos de Orelhas Cadastradas</span>
			</h2>
		</div>	
		<div class="col-md-6">
			  <div class="d-flex justify-content-end">
				<a class="btn btn-info mb-3" href="{% url 'fichas:orelhas_add' %}">
					<i class="fa-solid fa-plus"></i> Adicionar</a>
			</div>	
		</div>
	</div>	
	
	<div class="row">
		<!-- MENSAGEM DE ALERTA -->
		<div class="col-md-5 mt-4">
			<div class="card">
				<h3 class="card-header bg-primary text-white mb-3 text-center font-weight-bold">
					<i class="fa-solid fa-triangle-exclamation"></i> Atenção!</h3>
				<div class="card-text px-3">
					<label class="text-justify pb-3">Cuidado ao <span class="text-primary font-weight-bold">excluir</span> ou <span class="text-primary font-weight-bold">editar</span> um <span class="text-primary font-weight-bold">item</span>,  pois se  houver algum animal já cadastrado com esse item, ocorrerá<span class="text-primary font-weight-bold"> erro de integridade</span> no banco de dados.
					</label>
				</div>	
			</div>	
		</div>
		<!-- TABELA DE EXIBIÇÃO DAS ESPÉCIES CADASTRADAS -->
		<div class="col-md-7 mt-4">
			<table class="table">
				<thead>
					<th class="text-info" scope="col">#</th>
					<th scope="col"><i class="fa-solid fa-shield-dog text-info"></i> Orelhas</th>
					<th class="text-center" scope="col">
						<i class="fa-solid fa-gears text-info"></i> Ações:
					</th>
				</thead>
				<tbody>
					{% for iten in form %}
					<tr>
						<th scope="col">{{iten.id}}</th>
						<td>
							<a href="{% url 'fichas:orelhas_update' pk=iten.id %}">{{iten.orelhas}}</a>
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<a class="btn btn-warning text-white mr-3" href="{% url 'fichas:orelhas_update' pk=iten.id %}">
									<i class="fa-regular fa-pen-to-square"></i>
								</a>
								<a class="btn btn-danger" href="{% url 'fichas:orelhas_delete' pk=iten.id %}">
									<i class="fa-solid fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>	
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>		
</section>
{% endblock %}