{% load static %}
{% load permission_tags %}

{% if request.user.is_authenticated %}
  {% if user|can:'view_funcionario' %}
  <!-- Nav Menu -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="wrap-nav container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <div id="nav_responsive">
            <li class="row nav-item text-white my-3">
              <div class="w-75 pl-3">
                <a class="nav-link">
                  <i class="fa-solid fa-circle-user text-info"></i> 
                  <span class="text-white font-weight-bold text-border mr-1"> User: </span> 
                  <span class="text-info">{{request.user.first_name}}</span>
                </a>
              </div>
              <span class="sr-only">(Usuário logado)</span>
              <div class="w-25 d-flex justify-content-end pr-3">
                <a class="nav-link" href="{% url 'contas:logout' %}">
                  <span class="text-white font-weight-bold">
                    <i class="fa-solid fa-power-off text-info mr-1"></i> Sair
                  </span>
                </a>
              </div>
            </li>
          </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contas:cliente_detail' pk=user.id %}">
              <span class="text-white font-weight-bold">
                <i class="fa-solid fa-house-chimney text-info"></i>
                Home
              </span> 
              <span class="sr-only">(Página atual)</span>
            </a>
          </li>          
          {% if user|can:'view_funcionario' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services:list_ficha' %}"><span class="text-white font-weight-bold"><i class="fa-solid fa-shower text-info"></i> Bano e Tosa</span></a>
            </li>
          {% endif %}
          {% if user|can:'view_pet' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pet:pet_list' %}"><span class="text-white font-weight-bold"><i class="fa-solid fa-paw text-info"></i> Animais</span></a>
            </li>
          {% endif %}
          {% if user|can:'view_user_cliente' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contas:cliente_list' %}"><span class="text-white font-weight-bold"><i class="fa-solid fa-user text-info"></i> Usuários</span></a>
            </li>
          {% endif %}
          {% if user|can:'view_ficha' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fichas:ficha_list' %}">
                <span class="text-white font-weight-bold">
                  <i class="fa-solid fa-feather-pointed text-info"></i> Avaliações
                </span>
              </a>
            </li>
          {% endif %}

          {% if user|has_role:'gerente' %}    
            <li class="nav-item dropdown bg-dark"> <!-- DROPDOWN SISTEMA -->
              <a class="dropdown-toggle nav-link text-white" id="dropdownMenuButton"
                data-mdb-toggle="dropdown" aria-expanded="false">
                <span class="text-white font-weight-bold  ml-2">
                  <i class="fa-solid fa-gears text-info"></i> Sistema
                </span>
              </a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <li class="dropright"> <!-- Prontuario -->
                  <a class="dropdown-item dropdown-toggle" href="#">
                   <span class="text-white font-weight-bold">
                      <i class="fa-solid fa-file text-info"></i> Itens Prontuário
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-submenu bg-dark">
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:boca:boca_list' %}">Boca</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:doenca:doenca_list' %}">Doenças</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:olhos:olhos_list' %}">Olhos</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:orelhas:orelhas_list' %}">Orelhas</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:patas:patas_list' %}">Patas</a>
                    </li>
                    <li class="dropright">
                      <a class="dropdown-item text-white dropdown-toggle" href="#">Pelos</a>
                      <ul class="dropdown-menu dropdown-submenu bg-dark">
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pelos:pelos_list' %}">Tipos de Pelos</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pelos:pelagem_list' %}">Pelagem</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pelos:coloracao_list' %}">Coloração</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pelos:estado_pelos_list' %}">Estado dos Pelos</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pelos:condicao_pelos_list' %}">Condição dos Pelos</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropright">
                      <a class="dropdown-item text-white dropdown-toggle" href="#">Pele</a>
                      <ul class="dropdown-menu dropdown-submenu bg-dark">
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pele:pele_list' %}">Tipos de Pele</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pele:doenca_pele_list' %}">Doenças de Pele</a>
                        </li>
                        <li>
                          <a class="dropdown-item text-white" href="{% url 'fichas:pele:ectoparasitas_list' %}">Ectoparasitas</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:unhas:unhas_list' %}">Unhas</a>
                    </li>
                  </ul>
                </li><!-- /Prontuario -->
                <li class="dropright">
                  <a class="dropdown-item dropdown-toggle" href="#">
                    <span class="text-white font-weight-bold">
                      <i class="fa-solid fa-paw text-info"></i> Cadastro do Pet
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-submenu bg-dark">
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:especie:especie_list' %}"> Espécies</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:raca:raca_list' %}">Raças</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'fichas:temperamento:temperamento_list' %}">Temperamento</a>
                    </li>
                  </ul>
                </li><!-- /Cadastro Pet -->
                <li class="dropright">
                  <a class="dropdown-item dropdown-toggle" href="#">
                    <span class="text-white font-weight-bold">
                      <i class="fa-solid fa-shower text-info"></i> Banho/Tosa
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-submenu bg-dark">
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'services:banho_list' %}">Banho</a>
                    </li>  
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'services:tosa_list' %}">Tosa</a>
                    </li>  
                    <li>
                      <a class="dropdown-item text-white" href="{% url 'services:itens_list' %}">Itens do Pet</a>
                    </li>  
                  </ul>
                </li><!-- /Banho e Tosa -->
              </ul> 
            </li>
          {% endif %}
        </ul>
      </div>
    </div>  
  </nav>
  {% endif %}
{% endif %}