{% load static %}
{% load permission_tags %}

{% if request.user.is_authenticated %}
  {% if user|can:'view_funcionario' %}
  <!-- Nav Menu -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="wrap-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="row nav-item text-white my-3">
            <div class="w-75 pl-3">
              <a class="nav-link">
                <i class="fa-solid fa-circle-user text-info"></i> 
                <span class="text-white font-weight-bold text-border mr-1"> User: </span> 
                <span class="text-info">{{request.user.first_name}}</span>
              </a>
            </div>
            <span class="sr-only">(Usuário logado)</span>
            <div class="w-25 d-flex justify-content-end pr-3">
              <a class="nav-link" href="{% url 'contas:logout' %}">
                <span class="text-white font-weight-bold">
                  <i class="fa-solid fa-power-off text-info mr-1"></i> Sair
                </span>
              </a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contas:cliente_detail' pk=user.id %}">
              <span class="text-white font-weight-bold">
                <i class="fa-solid fa-house-chimney text-info"></i>
                Home
              </span> 
              <span class="sr-only">(Página atual)</span>
            </a>
          </li>
          {% if user|can:'view_pet' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pet:pet_list' %}"><span class="text-white font-weight-bold"><i class="fa-solid fa-paw text-info"></i> Animais</span></a>
            </li>
          {% endif %}
          {% if user|can:'view_user_cliente' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contas:cliente_list' %}"><span class="text-white font-weight-bold"><i class="fa-solid fa-user text-info"></i> Usuários</span></a>
            </li>
          {% endif %}
          {% if user|can:'view_ficha' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fichas:ficha_list' %}">
                <span class="text-white font-weight-bold">
                  <i class="fa-solid fa-feather-pointed text-info"></i> Avaliações
                </span>
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            
          </li>
          {% if user|has_role:'gerente' %}    
          <li class="nav-item my-3 border-bottom">
            <span class="text-white font-weight-bold  ml-2">
              <i class="fa-solid fa-gears text-info"></i> Sistema
            </span>
          </li>
          
          <li class="nav-item dropdown pl-3">
            
            <a data-toggle="collapse" href="#ItensProntuario" role="button" aria-expanded="True" aria-controls="ItensProntuario">
                <span class="text-white font-weight-bold">
                <i class="fa-solid fa-file text-info"></i> Itens Prontuário
                </span>
            </a>
                  
            <div class="collapse" id="ItensProntuario" aria-labelledby="ItensProntuario">
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:boca:boca_list' %}">Boca</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:doenca:doenca_list' %}">Doenças</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:olhos:olhos_list' %}">Olhos</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:orelhas:orelhas_list' %}">Orelhas</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:patas:patas_list' %}">Patas</a>
              <a class="dropdown-item bg-secondary text-white" data-toggle="collapse" href="#Pele" role="button" aria-expanded="false" aria-controls="pele">Pele</a>
             
                <div class="collapse" id="Pele" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pele:pele_list' %}">Tipos de Pele</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pele:doenca_pele_list' %}">Doenças de Pele</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pele:ectoparasitas_list' %}">Ectoparasitas</a>
                </div> 
              
              <a class="dropdown-item bg-secondary text-white" data-toggle="collapse" href="#Pelos" role="button" aria-expanded="false" aria-controls="Pelos">Pelos</a>
                <div class="collapse" id="Pelos" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pelos:pelos_list' %}">Tipos de Pelos</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pelos:pelagem_list' %}">Pelagem</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pelos:coloracao_list' %}">Coloração</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pelos:estado_pelos_list' %}">Estado dos Pelos</a>
                  <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:pelos:condicao_pelos_list' %}">Condição dos Pelos</a>
                </div> 
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:unhas:unhas_list' %}">Unhas</a>
            </div> 
          </li>
          
          <li class="nav-item dropdown pl-3 mt-2">
            <a data-toggle="collapse" href="#ItensCadastroPet" role="button" aria-expanded="false" aria-controls="ItensCadastroPet">
                <span class="text-white font-weight-bold">
                <i class="fa-solid fa-paw text-info"></i> Cadastro do Pet
              </span>
            </a>
            <div class="collapse" id="ItensCadastroPet" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:especie:especie_list' %}"> Espécies</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:raca:raca_list' %}">Raças</a>
              <a class="dropdown-item bg-secondary text-white" href="{% url 'fichas:temperamento:temperamento_list' %}">Temperamento</a>
            </div> 
          </li>
          {% endif %}
        </ul>
      </div>
    </div>  
  </nav>
  {% endif %}
{% endif %}