{% load static %}
{% if request.user.is_authenticated %}
<div class="w-50 d-flex justify-content-end pr-4">
  <div class="w-75 d-flex justify-content-end py-3" id="login-section">
    <div class="d-flex align-items-center px-3">
      <label class="text-right font-weight-bold text-uppercase w-100">
        {% if cliente.user.first_name != None %}
          {{ cliente.user.first_name}}
        {% else %}
          {{user.first_name}}
        {% endif %}
      </label>
    </div> 
    
    <div class="dropdown">
      {% if request.user.profile.all %}
        {% for item in request.user.profile.all %}
          {% if item.photo.url != None %}
           <span class="photo_cliente dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
              <img src="{{ item.photo.url }}">  
            </span>
          {% else %}
            <span class="photo_cliente dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img/user-default.png' %}">  
            </span>
          {% endif %}
        {% endfor %}
      {% else %}
        <span class="photo_cliente dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'img/user-default.png' %}">  
        </span>
      {% endif %}
      <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item disabled">
          <small>
            <span class="text-info font-weight-bold">Id:</span>
            <span class="text-secondary">{{request.user.id}}</span>
          </small>
        </a>
        <a class="dropdown-item" href="{% url 'contas:user_profile' pk=request.user.id %}">
          <i class="fa-solid fa-user text-info mr-2"></i><span class="text-secondary">Visualizar Perfil</span>
        </a>
        <a class="dropdown-item" href="{% url 'contas:cliente_update' pk=user.id %}">
          <i class="fa-solid fa-pen text-info mr-2"></i><span class="text-secondary">Editar Perfil</span>
        </a>
        <a class="dropdown-item" href="{% url 'contas:change_password' %}">
          <i class="fa-solid fa-lock text-info mr-2"></i><span class="text-secondary">Alterar Senha</span>
        </a>
        <a class="dropdown-item" href="{% url 'contas:logout' %}">
          <i class="fa-solid fa-power-off text-info mr-2"></i><span class="text-secondary">Sair</span>
        </a>        
      </div>
    </div>
  </div>  
</div>  
{% endif %}