{% load static %}
<div class="row">
	<div class="dropdown ml-3">
	  {% if cliente.photo.url != None %}
	    <span class="photo_cliente dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
	    	<img src="{{ cliente.photo.url }}">  
	    </span>
	  {% else %}
	    <span class="photo_cliente dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
	    	<img src="{% static 'img/user-default.png' %}">  
	    </span>
	  {% endif %}
	  <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
	  	<a class="dropdown-item disabled">
	  		<small>
		  		<span class="text-info font-weight-bold">Id:</span>
		  		<span class="text-secondary">{{request.user.id}}</span>
		  	</small>
	  	</a>
	  	<a class="dropdown-item" href="{% url 'contas:user_profile' pk=request.user.id %}">
	  		<i class="fa-solid fa-user text-info"></i><span class="text-secondary"> Visualizar Perfil</span>
	  	</a>
	    <a class="dropdown-item" href="{% url 'contas:cliente_update' pk=user.id %}">
	    	<i class="fa-solid fa-pen text-info"></i><span class="text-secondary"> Editar Perfil</span>
	    </a>
	    <a class="dropdown-item" href="{% url 'contas:change_password' %}">
	    	<i class="fa-solid fa-lock text-info"></i><span class="text-secondary"> Alterar Senha</span>
	    </a>
	    <a class="dropdown-item" href="{% url 'contas:logout' %}">
	    	<i class="fa-solid fa-power-off text-info"></i><span class="text-secondary"> Sair</span>
	    </a>
	  </div>
	</div>
	<h3 class=" col text-secondary mt-3">Bem-vindo(a)<br/> 
		<span class="text-info font-weight-bold">{{user.first_name}}</span>
	</h3>
</div>  