{% load static %}
<div class="row">
	<div class="dropdown ml-3">
	  {% if cliente.photo.url != None %}
	    <img class="dropdown-toggle photo_cliente" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" src="{{ cliente.photo.url }}">  
	  {% else %}
	    <img class="dropdown-toggle photo_cliente" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" src="{% static 'img/user-default.png' %}">  
	  {% endif %}
	  <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" href="{% url 'contas:cliente_update' pk=user.id %}">Editar Perfil</a>
	    <a class="dropdown-item" href="{% url 'contas:change_password' %}">Alterar Senha</a>
	    <a class="dropdown-item" href="{% url 'contas:logout' %}">Sair</a>
	  </div>
	</div>
	<h3 class=" col text-secondary mt-3">Bem-vindo<br/> 
		<span class="text-info font-weight-bold">{{user.first_name}}</span>
	</h3>
</div>  