<form id="form-login" action="." method="POST">
    <div class="">
        <input class="mdl-textfield__input" type="text" name="username" maxlength="30" id="id_username">
        <label class="mdl-textfield__label" for="id_username">Email</label>
    </div>

    <div class="">
        <input class="mdl-textfield__input" type="password" name="password" id="id_password">
        <label class="mdl-textfield__label" for="id_password">Senha</label>
    </div>     
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <button class="btn btn-warning" type="submit">Entrar</button>
        
        {% if form.errors %}
            <label class="alert alert-warning">Usuário e Senha não coincidem. Por favor, tente novamente.</label>
            <label><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></label>
        {% endif %}
    
</form>
