{% load bootstrap %}
{% load widget_tweaks %}
<form action="{% url 'contas:register_cliente' %}"  method="POST">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mb-3" type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="Nome">
    </div>    
   
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mb-3" type="text" name="last_name" maxlength="30" id="id_last_name" placeholder="Sobrenome">
    </div>
    
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mb-3" type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
    </div>
    <div class="col">
        {% for item in form_cliente %}
            <p>{{ item|bootstrap }}</p>
        {% endfor %}        
    </div>
  
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mb-3" type="password" name="password" id="id_password" placeholder="Senha">
    </div>    
    
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mb-3" type="password" name="password2" id="id_password2" placeholder="Confirmar Senha">
    </div>
    
    <input type="hidden" value="6QS5FJzZUlWFfsI40rkpejqPShvQoGdX" name="csrfmiddlewaretoken">
  
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Criar Conta</button>

</form>