{% load bootstrap %}
{% load widget_tweaks %}
<form action="{% url 'contas:cliente_add' %}"  method="POST">
    {% if msg %}
        <div class="{{class}}">
            {{ msg }}
        </div>
    {% endif %}
    <div class="col-md-4">
        <input class="mb-3 pl-2" type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="Nome">
    </div>    
   
    <div class="col-md-4">
        <input class="mb-3 pl-2" type="text" name="last_name" maxlength="30" id="id_last_name" placeholder="Sobrenome">
    </div>
   
    <div class="col-md-4">
        <input class="mb-3 pl-2" type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
    </div>
      
    <div class="col-md-4">
        <input class="mb-3 pl-2" type="password" name="password" id="id_password" placeholder="Senha">
    </div>    
    
    <div class="col-md-4">
        <input class="mb-3 pl-2" type="password" name="password2" id="id_password2" placeholder="Confirmar Senha">
    </div>
    {% if form.errors %}
    <label class="alert alert-warning">Erro!!</label>
    {% endif %}
    <input type="hidden" value="6QS5FJzZUlWFfsI40rkpejqPShvQoGdX" name="csrfmiddlewaretoken">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Criar Conta</button>

</form>