{% load staticfiles %}



<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <a href="{% url 'dashboard' %}">
                <div class="portfolio-logo"></div>                    
            </a>
        </span>
    </div>
    {% if request.user.is_authenticated %}
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link is-active" href="#">Portfolio</a>
            <a class="mdl-navigation__link" href="#">Blog</a>
            <a class="mdl-navigation__link" href="#">About</a>
            <a class="mdl-navigation__link" href="#">Contact</a>
        </nav>
    </div>
    {% endif %}
</header>


