*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none !important;

}
#wrap-header{
 width: 100%;
 min-height: 100px;
 background: #1fb9b1;
 color: white;
 margin-bottom: 15px;
 
}
#wrap-header img{
	display: block;
	max-width: 250px;
	padding: 15px 0;
}
.wrap-nav{
	background: #fdbe2d !important;
}
.wrap-nav li a{
	color: white;
}
#wrap-main{
	width: 90%;
	min-height: 400px;
	margin: 0 auto;
}
	#wrap-list-pet{
		margin-top: 15px;
	}

#wrap-footer{
	width: 100%;
	margin-top: 15px;
	min-height: 80px;
	background: black;
	color: white;
}
