{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}
<section class="row">
	<!-- Animais/Pet -->
	<div class="col-5">
		<h4 class="py-2 pl-3 border-bottom">
			<i class="fa-solid fa-paw text-info"></i> 
			<span class="text-secondary"> Animais</span>
		</h4>
		<div class="col-md-6">
			<ol>
				<li class="nav-item"><a href="{% url 'pet:pet_list' %}">Lista de Animais</a></li>
				<li class="nav-item"><a class="" href="{% url 'sys:especie_list' %}">Espécies</a></li>
				<li class="nav-item"><a class="" href="{% url 'sys:raca_list' %}">Raças</a></li>
			</ol>
		</div>
	</div>	

	<!-- Prontuários -->
	<div class="col-5 ml-3">
		<h4 class="border-bottom py-2 pl-3">
			<i class="bi bi-card-checklist text-info"></i> 
			<scan class="text-secondary"> Prontuário</scan>
		</h4>
		<div class="col-md-6">
			<ol>
				<li class="nav-item"><a href="{% url 'fichas:ficha_list' %}">Lista de Prontuários</a></li>
			</ol>
		       
		</div>
	</div>

	<!-- Usuário -->
	<div class="col-5 mt-3">
		<h4 class="border-bottom py-2 pl-3">
			<i class="fa-solid fa-user text-info"></i> 
			<span class="text-secondary">	Usuários</span>
		</h4>
		<div class="col-md-6">
			<ol>
				<li class="nav-item"><a href="{% url 'contas:cliente_list' %}">Lista de Clientes</a></li>
			</ol>
		       
		</div>

	</div>
</section>
{% endblock %}