{% extends 'core/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<section class="container py-4">
	<form method="POST" action=".">
		<legend class="border-bottom title-2 text-secondary font-weight-bold pb-3">
			<i class="bi bi-card-checklist text-info"></i> Atualizar Nome do estado dos pelos
		</legend>
		{% csrf_token %}
		
		<div class="col-sm-4 my-4">
			<label>
				<i class="fa-solid fa-shield-dog text-info"></i>
				<span class="font-weight-bold text-secondary">Nome do estado dos Pelos</span>
			</label> {{form.pelosEstado|bootstrap}}
			
			<div class="d-flex justify-content-end mx-3 my-3">
				<button class="btn btn-info mr-3" type="submit">
					<i class="fa-solid fa-plus"></i> Atualizar
				</button>
				
				<button class="btn btn-danger" type="button" onclick="location.href='{% url 'fichas:pelos:estado_pelos_list' %}'">
	  				<i class="fa-solid fa-xmark"></i> Cancelar
				</button>
			</div>	
		</div>
		
				
	</form>
</section>
{% endblock %}