{% extends 'core/base.html' %}
{% block title %}
	{{block.super}} - Add New Tutor
{% endblock title %}
{% load permission_tags %}

{% block content %}
	{% if user|can:'view_funcionario' %}
		<section class="container">
			<form class="my-4" name="FormAddNewTutor" method="POST" action=".">
				{% csrf_token %}
				<legend class="border-bottom  pb-2 text-secondary">
					<i class="fa-solid fa-paw text-info"></i> Adicionar Tutor
				</legend>
				{% if msg %}
					<p class="{{class}} text-center">{{msg}}</p>
				{% endif %}
				<div class="col-md-4 px-4 mb-4">
					<label class="col-form-label" for="idTutorCadastrado">
						<span class="font-weight-bold text-info mr-3"> Id do Tutor</span>
					</label>
					<input class="form-control" type="text" name="idTutorCadastrado" id="idTutorCadastrado" placeholder="Ex: 15" />
				</div>
				<div class="px-4">
					<button type="submit" class="btn btn-info">Adicionar</button>	
					<button type="button" class="btn btn-outline-info" onclick="location.href='{% url 'pet:pet_detail' pk=pet.id %}'">Cancelar</button>	
				</div>		
			</form>
		</section>
	{% else %}	  
	  {% include 'includes/permission_msg.html' %}
	{% endif %}

{% endblock %}