{% extends 'core/base.html' %}
{% block title %}
	{{block.super}} - Add New Tutor
{% endblock title %}
{% load permission_tags %}

{% block content %}
	{% if user|can:'view_funcionario' %}
		<section class="container">
			<form class="my-4" name="FormAddNewTutor" method="POST" action=".">
				{% csrf_token %}
				<legend class="border-bottom  pb-2 text-secondary">
					<i class="fa-solid fa-paw text-info"></i> Adicionar Pet
				</legend>
				{% if msg %}
					<p class="{{class}} text-center">{{msg}}</p>
				{% endif %}
				<div class="col-md-4 px-4 mb-4">
					<label class="col-form-label" for="idPetcadastrado">
						<span class="font-weight-bold text-info mr-3"> Id do Pet</span>
					</label>
					<input class="form-control" type="text" name="idPetcadastrado" id="idPetcadastrado" placeholder="Ex: 15" />
				</div>
				<div class="px-4">
					<button type="submit" class="btn btn-info">Adicionar</button>	
					<button type="button" class="btn btn-outline-info" onclick="location.href='{% url 'contas:cliente_detail' pk=request.user.id %}'">Cancelar</button>	
				</div>		
			</form>
		</section>
	{% else %}
		<section class="container">
			<div class="my-4">
				<p class="alert alert-danger text-center">Você não tem permissão de acesso para essa área!</p>
			</div>
			<div class="d-flex justify-content-end">
				<button class="btn btn-outline-info btn-lg" type="button" onclick="location.href='{% url 'contas:cliente_detail' pk=tutor.id %}'"><i class="fa-solid fa-arrow-left mr-2"></i>Voltar</button>
			</div>
		</section>
	{% endif %}
{% endblock %}