{% extends 'core/base.html'%}
{% load bootstrap %}
{% load permission_tags %}

{% block content %}
	{% if user|has_role:'gerente' %}
		<section class="container py-4">
			<h2 class="border-bottom title-2 pb-2 text-secondary">
				<i class="fa-solid fa-user text-info mr-2"></i> Cadastrar novo usuário
			</h2>
			
			<div class="col-md-4">
				<form method="POST" action=".">
					 {% csrf_token %}
					{% for iten in form_user %}
					 <p>{{iten|bootstrap}}</p>
					{% endfor %}
					{{ form_cliente.management_form }}

					{% for field in form_cliente %}
						<p>{{field|bootstrap}}</p>
					{% endfor %}
					<button class="btn btn-info" type="submit">Criar Usuário</button>
					<button class="btn btn-outline-info" type="button" onclick="location.href='{% url 'contas:cliente_list'%}'">Cancelar</button>
				</form>
			</div>	
		</section>
	{% else %}
	  <section class="container d-flex justify-content-center my-5">
	    <div class="col-md-9 ">
	      <div class="border dados-pet mb-4">
	        <div class="dados-pet-header">
	          <label class="d-block text-center alert alert-danger ">
	              <i class="fa-solid fa-triangle-exclamation mr-2"></i> Atenção
	          </label>    
	        </div>
	        <div class="px-3">
	          <label class="text-secondary d-block mb-3 text-center">

	            <p class="mb-3">
	              <span class="font-weight-bold text-info">{{ request.user.first_name }}</span>
	              você não tem permissão para acessar essa página!
	            </p>
	             
	            <p class="px-4">
	              <small class="text-secondary d-block mb-3 text-justify">
	                Caso você seja uma pesssoa autorizada entre em contato com o administrador do sistema para verificar se alguma das suas permissões foram revogadas.
	              </small>
	            </p>
	            <p class="text-justify px-4"> 
	              <small class="text-info font-italic">Lamentamos a inconveniência.</small>
	            </p>     
	          </label>

	          <div class="text-secondary d-flex justify-content-center mb-4">
	            <a class="btn btn-outline-info" href="{% url 'contas:cliente_detail' pk=user.id %}">
	              <i class="fa-solid fa-chevron-left mr-2"></i> Voltar
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>  
	  </section>
	{% endif %}

{% endblock %}