{% extends 'core/base.html' %}
{% block title%}
{{block.super}} - Apagar cliente
{% endblock title %}
{% block content %}
<section class="container py-4">
	<p class="text-monospace">Tem certeza que deseja apagar o registro do '<span class="text-info">{{ object.first_name }} {{object.last_name}}</span>'?</p>
		<form method="POST">
			{% csrf_token %}
			<button class="btn btn-info btn-md" type="submit">Sim, tenho certeza!</button>
			<button class="btn btn-outline-info btn-md" type="reset" onclick="location.href='{% url 'contas:cliente_list' %}'">Não, desejo voltar!</button>
		</form>
</section>		
{% endblock %}