{% extends 'core/base.html'%}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}
<section class="container py-4">
	<h3 class="border-bottom pb-2 text-secondary">
		<i class="fa-solid fa-user text-info mr-2"></i> Cadastrar novo usuário
	</h3>
	
	<div class="col-md-4">
		<form method="POST" action=".">
			 {% csrf_token %}
			{% for iten in form_user %}
			 <p>{{iten|bootstrap}}</p>
			{% endfor %}
			{{ form_cliente.management_form }}

			{% for field in form_cliente %}
				<p>{{field|bootstrap}}</p>
			{% endfor %}
			<button class="btn btn-info" type="submit">Criar Usuário</button>
			<button class="btn btn-danger" type="button" onclick="location.href='{% url 'contas:cliente_list'%}'">Cancelar</button>
		</form>
	</div>	
</section>
{% endblock %}