{% extends 'core/base.html' %}
{% load permission_tags %}
{% block title%}
{{block.super}} - Usuários
{% endblock title %}
{% block content %}

<section class="container py-4">
	<div class="row border-bottom">
		<div class="w-75 pl-3">
			<h3 class="font-weight-bold text-secondary">
				<i class="fa-solid fa-user text-info"></i>
				Usuários Cadastrados
			</h3>
		</div>	
		<div class="w-25 pr-3">
			{% if user|can:'add_user' %}
				<div class="d-flex justify-content-end">
					<a class="btn btn-info mb-3" href="{% url 'contas:cliente_add' %}">Novo Usuário <i class="fa-solid fa-user"></i></a>
				</div>
			{% endif %}	
		</div>
	</div>

{% if lista %}
	<!-- LISTA DE Clientes CADASTRADOS -->	 
	{% csrf_token %}
	
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th class="text-info" scope="col">#</th>
		      <th class="text-center" scope="col"><i class="fa-solid fa-user text-info"></i> Nome</th>
		      <th class="text-center block-none" scope="col"><i class="fa-solid fa-envelope text-info"></i> Email</th>
		      <th class="text-center block-none" scope="col"><i class="fa-solid fa-plus text-info"></i> Conta</th>
		      <th class="text-center" scope="col"><i class="fa-solid fa-gears text-info"></i>  Ações</th>
		    </tr>
		  </thead>
		  <tbody>
		  	 {% for item in clientes %}
			    <tr>
			   	  <th scope="row">{{item.pk}}</th>
			      
			      <td class="text-center">
			      	<a href="{% url 'contas:cliente_detail' pk=item.id %}">
			      		{{ item.first_name}}
			  		</a>
			  	  </td>
			  	 
			      <td class="text-center block-none">{{ item.email }}</td>
			      {% for i in profile %}
			      	{% if item.pk == i.user.pk %}
			       		<td class="text-center block-none">{{ i.cargo }}</td>
			       	{% endif %}
			      {% endfor %}
			      <td>
			      	<div class="text-center">
			      		{% if user|can:'view_user_cliente' %}
			      			<a class="btn btn-outline-info rounded-circle mr-2" href="{% url 'contas:cliente_detail' pk=item.id %}">
			      			<i class="fa-regular fa-eye"></i> 
			      			
			      			</a>
			      		{% endif %}
			      		{% if user|can:'update_user' %}
				      		<a class="btn btn-outline-info rounded-circle mr-2" href="{% url 'contas:user_update_for_adm' pk=item.id %}">
				      			<i class="fa-regular fa-pen-to-square"></i>
				      		
				      		</a>
				      	{% endif %}
				      	{% if user|can:'delete_user' %}
				      		<a class="btn btn-outline-info rounded-circle" href="{% url 'contas:cliente_delete' pk=item.id %}">
				      			<i class="fa-solid fa-trash"></i>
				      			
				      		</a>
				      	{% endif %}
			      	</div>	
			      </td>
			    </tr>
		    {% endfor %}
		  </tbody>
		</table>

{% else %}
	<p class="alert alert-warning mt-3">Sem itens na lista.</p>
{% endif%}	
	<!-- PAGINATOR -->
	<div class="row">
		<!-- ITENS POR PÁGINA -->
		<div class="col w-50">
			<p class="">Itens por página:</p>
			<nav>
				<ul class="pagination pagination-sm">
				{% for qnt in items_list %}
					{% if qnt == qnt_page %}
						<li class="page-item active">
							<a class="page-link" href="#" tabindex="-1">{{ qnt }}</a>
						</li>	
						
					{% else %}
						<li class="page-item">
							<a class="page-link" href="{% url 'contas:cliente_list'%}?limit={{qnt}}">{{ qnt }}</a>
						</li>	
						
					{% endif %}
				{% endfor %}
				</ul class="pagination pagination-sm">
			</nav>
		</div><!-- /Itens por página -->

		<!-- Paginator -->
		<div class="row m-0 align-items-end w-50">
			
			<nav  class="col m-0 d-flex justify-content-end" >
			  <ul class="pagination">
			  	{% if clientes.has_previous %}
				  	<li class="page-item">
				      <a class="page-link" href="{% url 'contas:cliente_list'%}?limit={{qnt_page}}&page={{clientes.previous_page_number}}"><i class="fa-solid fa-chevron-left"></i></a>
				    </li>
			    {% else %}
				    <li class="page-item disabled">
				      <a class="page-link"  href="#"><i class="fa-solid fa-chevron-left"></i></a>
				    </li>
			    {% endif %}
			    
			    {% for num in clientes.paginator.page_range %}
			    	{% if num == clientes.number %}
				    	<li class="page-item disabled">
				    		<a class="page-link" href="#">{{ num }}</a>
				    	</li>
			    	{% else %}
				    	<li class="page-item">
				    		<a class="page-link" href="{% url 'contas:cliente_list'%}?limit={{qnt_page}}&page={{num}}">{{ num }}</a>
				    	</li>
			    	{% endif %}	
			    {% endfor %}

				{% if clientes.has_next %}	    
				    <li class="page-item">
				      <a class="page-link" href="{% url 'contas:cliente_list'%}?limit={{qnt_page}}&page={{clientes.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a>
				    </li>
				{% else %}
					<li class="page-item disabled">
				      <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
				    </li>    
				{% endif %}
			  </ul>
			</nav>
		</div>
		<!-- /Paginator -->
	</div>
</section>
{% endblock %}