{% load static %}
<div class="border dados-pet mb-4 mt-3">
	<div class="p-4">
		{% if aprovado %}
			<table class="table table-hover ">
				<thead class="text-center">
					<tr class="font-weight-bold text-secondary">
						<th scope="col"><span class="text-info font-weight-bold">#</span>Nº</th>
						<th scope="col"><i class="fa-solid fa-paw text-info"></i> Pet</th>
						<th class="block-none" scope="col"><i class="fa-solid fa-user text-info"></i> Tutor</th>
						<th scope="col"><i class="fa-solid fa-gears text-info"></i> Ações</th>
					</tr>
				</thead>
				<tbody class="text-center">									
					{% for item in aprovado %}
						<tr onclick="location.href='{% url 'services:detail_ficha' pk=item.id %}'" class="text-secondary">
							<th class="text-info">{{item.id}}</th>
							<td><a href="{% url 'pet:pet_detail' pk=item.pet.id %}">{{item.pet.nome}}</td>
							<td class="block-none">{{item.pet.tutor.all.first.first_name}}</td>
							<td>
								<div class="d-flex justify-content-center">
									<a class="btn btn-outline-info btn-sm" href="{% url 'services:atender_ficha' pk=item.id %}">
										Banhar <i class="fa-solid fa-chevron-right "></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div>
				<label class="alert alert-info d-block text-center"> Sem fichas aprovadas.</label>
			</div>	
		{% endif %}	
	</div>
</div>