{% extends "core/base.html" %}

{% block title %}É o Bicho{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
	<ul class="nav nav-tabs mt-3 col-md-6" id="myTab" role="tablist">
		<li class="nav-item">
	   		 <a class="nav-link active font-weight-bold" id="cadastrar-tab" data-toggle="tab" href="#cadastrar" role="tab" aria-controls="cadastrar" aria-selected="true">Cadastre-se</a>
	   </li>
		<li class="nav-item">
	   		 <a class="nav-link font-weight-bold" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Entrar</a>
	   </li>
			
	</ul>
</div>

<div class="tab-content d-flex justify-content-end" id="myTabContent">
	<!-- Histórico -->	
	<section class="col-md-6 tab-pane fade show active " id="cadastrar" role="tabpanel" aria-labelledby="cadastrar-tab">
		{% if msg %}
        <div class="{{class}}">
            {{ msg }}
        </div>
    {% endif %}
   		{% include 'site/block_cadastro.html' %}
	</section>
	<section class="tab-pane fade col-md-6" id="login" role="tabpanel" aria-labelledby="login-tab">
		{% include 'site/block-login.html' %}
	</section>
</div>	

{% endblock %}