{% extends 'core/base.html' %}
{% load static %}
{% block title%}
{{block.super}} - Ficha técnica
{% endblock title %}
{% block content %}
<section class="container py-4">
	<h2 class="border-bottom pb-2 text-secondary title-2">
		<i class="bi bi-journal-text text-info"></i>
		Prontuário{% if ficha.pet.sexo != 'Macho' %} da{% else %} do {% endif %} <span class="text-info">{{ficha.pet.nome}}</span> do dia <span class="text-info">{{ficha.created}}</span>
	</h2>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
			
					<div class="card-header bg-info">
						<h4 class="text-white title-2">
							<i class="fa-solid fa-file"></i> Ficha de Avalição 
							<span class=""> Nº </span> {{ficha.id}}
						</h4>
						<small class="d-block text-white font-italic font-weight-bold">
							Feita por:<span class="ml-2 text-white font-weight-normal">{{ficha.funcionario.first_name}}</span>
						</small>
					</div>
					<div class="card-text px-3 py-3">
			    		<div class="col">
			    			<label class="font-weight-bold text-info d-block">Unhas: </label>
			    			{% for item in ficha.unhas.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Ectoparasitas: </label>
							{% for item in ficha.ectoparasitas.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Pele: </label>
							{% for item in ficha.pele.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Pelos: </label>
							{% for item in ficha.pelos.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Estado dos pelos: </label>
							{% for item in ficha.pelosEstado.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Condição dos Pelos: </label>
							{% for item in ficha.pelosCondicao.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Boca: </label>
							{% for item in ficha.boca.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Olhos: </label>
							{% for item in ficha.olhos.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Patas: </label>
							{% for item in ficha.patas.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Orelhas: </label>
							{% for item in ficha.orelhas.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Doenças: </label>
							{% for item in ficha.doenca.all %}
								<label class="text-monospace text-secondary">{{item}}</label>
							{% endfor %}
						</div>
						<div class="col">
							<label class="font-weight-bold text-info d-block">Observações: </label>
							<label class="text-monospace text-secondary">{{ficha.obs}}</label>
						</div>
					</div>	
			  </div>  
		</div>
		<div class="col-lg-6">
		    <div class="col mt-3">
		    	<p class="font-weight-bold text-secondary"><i class="fa-solid fa-notes-medical text-info "></i> Avaliações anteriores:</p>	
		    	<table class="table">
		    		<thead>
		    			<tr class="text-center">
			    			<th class="text-secondary" scope="col"><i class="fa-solid fa-file text-info"></i> Nº Ficha</th>
			    			<th class="text-secondary" scope="col"><i class="fa-regular fa-calendar text-info"></i> Data</th>
			    			<th class="text-secondary" scope="col"><i class="fa-solid fa-user text-info"></i> Funcionário</th>
			    		</tr>	
		    		</thead>	
		    		{% for iten in last_fichas %}
		    			<tbody>
		    				<tr class="text-center">
					    		<th scope="row">
					    			<a href="{% url 'fichas:ficha_detail' pk=pet.id n=ficha.id %}">{{iten.id}}</a>
					    		</th>
					    		<td>{{iten.created}}</td>
					    		<td>{{iten.funcionario}}</td>
				    		</tr>
				    	</tbody>	
				    {% endfor%}							    	
		    	</table>
		    </div>
		</div>	
	</div>	
	<a class="btn btn-outline-info btn-lg mt-3" href="{% url 'pet:pet_detail' pk=ficha.pet.id %}">
		<i class="bi bi-arrow-counterclockwise"></i> Voltar</a>
</section>

{% endblock %}