{% extends 'core/base.html' %}
{% load static %}
{% block title%}
{{block.super}} - Ficha técnica
{% endblock title %}
{% block content %}
<section class="container">
	<h2 class="border-bottom pb-2 text-info">
		<i class="bi bi-journal-text"></i>
		Anamnese do <span class="text-danger">{{ficha.pet}}</span> do dia <span class="text-danger">{{ficha.date}}</span>
	</h2>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
			
					<div class="card-header bg-primary">
						<h3 class="text-white"><i class="fa-solid fa-file"></i> Ficha de Avalição Nº {{ficha.id}}</h3>
					</div>
					<div class="card-text px-3 py-3">
			    		<div class="col">
			    			<label class="font-weight-bold">Unhas: </label>
							<label class="text-monospace">{{ficha.unhas}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Ectoparasitas: </label>
							<label class="text-monospace">{{ficha.ectoparasitas}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Pele: </label>
							<label class="text-monospace">{{ficha.peleInfeccionada}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Pelos: </label>
							<label class="text-monospace">{{ficha.pelos}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Estado dos pelos: </label>
							<label class="text-monospace">{{ficha.pelosEstado}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Condição dos Pelos: </label>
							<label class="text-monospace">{{ficha.pelosCondicao}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Boca: </label>
							<label class="text-monospace">{{ficha.boca}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Olhos: </label>
							<label class="text-monospace">{{ficha.olhos}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Patas: </label>
							<label class="text-monospace">{{ficha.patas}}</label> 
						</div>
						<div class="col">
							<label class="font-weight-bold">Orelhas: </label>
							<label class="text-monospace">{{ficha.orelhas}}</label>
						</div>
						<div class="col">
							<label class="font-weight-bold">Doenças: </label>
							<label class="text-monospace">{{ficha.doenca}}</label>
						</div>
						<div class="col">
							<label class="font-weight-bold">Observações: </label>
							<label class="text-monospace">{{ficha.obs}}</label>
						</div>
					</div>	
			  </div>  
		</div>
		<div class="col-lg-6">
		    <div class="col mt-3">
		    	<p class="font-weight-bold"><i class="fa-solid fa-notes-medical"></i> Outras Anamneses:</p>	
		    	<table class="table">
		    		<thead>
		    			<tr class="text-center">
			    			<th scope="col"><i class="fa-solid fa-file"></i> Nº Ficha</th>
			    			<th scope="col"><i class="fa-regular fa-calendar"></i> Data</th>
			    			<th scope="col"><i class="fa-solid fa-user"></i> Funcionário</th>
			    		</tr>	
		    		</thead>	
		    		{% for iten in last_fichas %}
		    			<tbody>
		    				<tr class="text-center">
					    		<th scope="row">
					    			<a href="{% url 'fichas:ficha_detail' pk=pet.id n=ficha.id %}">{{iten.id}}</a>
					    		</th>
					    		<td></td>
					    		<td>{{iten.funcionario}}</td>
				    		</tr>
				    	</tbody>	
				    {% endfor%}							    	
		    	</table>
		    </div>
		</div>	
	</div>	
	<a class="btn btn-primary mt-3" href="{% url 'pet:pet_list' %}">
		<i class="bi bi-arrow-counterclockwise"></i> Voltar</a>
</section>

{% endblock %}