{% load bootstrap %}
{% load permission_tags %}
<div class="row py-4">
	<div class="col-md-4 mb-4">
		<div class="border box-peso py-4">
			<div class="px-3">
				<h4 class="consulta-title text-uppercase  text-secondary font-weight-bold box-peso-title">
					<i class="fa-solid fa-ball-pile text-info"></i> Peso
				</h4>
				{% if user|can:'add_peso'%}
					<div>
						<button type="button" class="btn btn-lg btn-outline-info btn-peso my-3" onclick="location.href='{% url 'fichas:peso_add' pk=pet.id %}'">
							<i class="fa-solid fa-plus"></i>
						</button>
						<span class="ml-3 text-secondary">Adicionar novo peso</span>
					</div>
				{% endif %}
			</div>
			<div class="">
				<h4 class="consulta-title text-secondary text-uppercase font-weight-bold ml-3 mt-3">
					 Histórico Peso
				</h4>
				<div class="">
					{% if listpeso %}
						<table class="table table-hover">
							{% for item in listpeso %}
								<tbody>
									<tr>
										<td class="pt-3">
											<div class="d-flex justify-content-center mt-2">
												<i class="fa-sharp fa-solid fa-weight-hanging text-info"></i>
											</div>
											
										</td>
										<td>
											<label class="d-block m-0 text-left">{{item.peso}}</label>
											<small class="text-secondary text-left d-block">{{item.created}}</small>
										</td>
										<td class="w-25">
											<div class="d-flex justify-content-center">
												<button type="button" data-toggle="collapse" href="#consultaAccions{{item.id}}" role="button" aria-expanded="True" aria-controls="consultaAccions" class="btn btn-outline-secondary rounded-circle">
													<i class="fa-solid fa-ellipsis"></i>
												</button>
											</div>
											<div class="collapse" id="consultaAccions{{item.id}}" aria-labelledby="consultaAccions">
												<div class=" d-flex justify-content-center align-items-center">
													<a class="btn btn-outline-info rounded-circle mt-2" href="#">
									    				<i class="fa-regular fa-eye"></i>
									    			</a>
									    		</div>	
											</div>
										</td>
									</tr>
								</tbody>
							{% endfor %}
						</table>
					{% else %}
						<div >
							<label class="alert alert-warning w-100">Nenhuma registro de peso encontrado!</label>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="border box-peso p-4">
			{% if last_peso %}
				<div class="row px-4">
					<h4 class="title-detail font-weight-bold text-uppercase text-secondary w-75">
						Peso em {{last_peso.created}}
					</h4>
					<div class="w-25 d-flex justify-content-end">
						<a class="text-info" href="{% url 'fichas:peso_update' pk=last_peso.id %}">
							<i class="fa-solid fa-pen"></i> Editar
						</a>
					</div>
				</div>
				<div class="mt-3">
					<label class="text-info d-block">Criado em</label>
					<label class="d-block text-secondary">{{last_peso.created}}  por {{last_peso.user.first_name}}</label>
					<label class="text-info d-block">Modificado em</label>
					{% if last_peso.modified != last_peso.created %}
						<label class="d-block text-secondary">{{last_peso.modified}}</label>
					{% else %}
						<label class="d-block text-secondary"> ---------- </label>
					{% endif %}
					<label class="text-info d-block">Peso</label>
					<label class="d-block text-secondary">{{last_peso.peso}}</label>
					<label class="text-info d-block">Anotações</label>
					<label class="d-block text-secondary">{{last_peso.obs}}</label>
				</div>
			{% else %}
				<p class="alert alert-warning"> Ainda não foi registrado nenhuma peso! </p>
			{% endif %}
		</div>
	</div>
</div>